<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <div id="rectangle">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <h2 id="title">LITReview</h2>
    <nav>
          <ul class="menu">
              {% if user.is_authenticated %}
            <li><a href="/profile">Mon Profil</a></li>
            <li><a href="/home">Flux</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/followed">Abonnements</a></li>
              <li><a href="/logout">Se déconnecter</a></li>
              {% endif %}
          </ul>
    </nav>
    </div>
    <div id="page_title">
        {% block title %}
        {% endblock %}
    </div>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>