<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LITReview</title>
    <nav class="menu">
          <ul>
              {% if user.is_authenticated %}
            <li><a href="/home">Flux</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/followed">Abonnements</a></li>
              <li><a href="/logout">Se déconnecter</a></li>
              {% endif %}
          </ul>
    </nav>
    {% block title %}
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>