html{
margin : 0;
}

body{
margin : 0;
}

#rectangle {
  width: 100%;
  background-color:grey;
  height: 100px;
  display : flex;
  margin : 0;
  }

nav{
margin : auto;
width:50%;
}

#rectangle ul{
display : flex;
}
#rectangle li{
 display: flex;
 font-size : 20px;
 justify-content: space-between;
 margin : 20px;
 width: 300px;
}

a:link {
    color : black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

#title{
    position: absolute;
  top : 3%; left: 10%;
  transform: translate(-50%, -50%);
}

#page_title
{
text-align : center;}