#form{
    display:flex;
    flex-direction : column;
    width : 500px;
}

.ul{
   margin-left : 0px;
}

#content{
    margin: 0 auto;
    display : flex;
    flex-direction : column;
    justify-content: space-around;
    width : 50%;
    margin-top : 50px;
    align-items:center;
}

.inscription-button
{
    width : 500px;
    margin-top : 10px;
}