#two_forms
{
    display : flex;
    flex-direction : column;
    margin-top : 20px;
    align-items:center;
}

.formulaire
{
    display:flex;
    flex-direction:column;
    border : solid 1px black;
    min-width : 500px;
    padding : 30px;
    margin-bottom : 20px
}

form
{
    display:flex;
    justify-content : space-around;
    height : 1000px;
    flex-direction:column;
}

#submit_button
{
    width : 100px;
    height : 40px;
    margin: 0 auto;
}

article
{
    border : solid 2px black;
    border-radius : 30px;
    align-items : center;
    display : flex;
    flex-direction : column;
}