.buttons
{
    margin : auto;
    margin-top : 30px;
    width:50%;
    display:flex;
    justify-content: space-around;
}

.button{
        display:flex;
        justify-content: space-around;
}

#flux
{
    text-align: center;
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}

.review, .ticket
{
    border : solid 3px white;
    width : 500px;
    margin-top : 30px;
    border-radius : 30px;
    min-height : 250px;
}