.buttons
{
    margin : auto;
    margin-top : 30px;
    width:50%;
    display:flex;
    justify-content: space-around;
}

.button{
        display:flex;
        justify-content: space-around;
}
.button_critic
{
    margin-bottom : 50px;
}
#flux
{
    text-align: center;
    display : flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
}

.review, .ticket
{
    border : solid 2px black;
    width : 500px;
    margin-top : 30px;
    border-radius : 30px;
}

.ticket_in{
     border : solid 2px black;
    margin-top : 20px;
    border-radius : 20px;
    margin : 20px;
}