{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style_ticket_list.css' %}">
    <div id = 'flux'>
    {% if posts %}
        {% for post in posts %}
            {% if post.headline != None %}
                <div class = 'review'>
                    <div>
                            <h6>{{post.time_created}}</h6>
                            {% if user.id == post.user_id %}
                                <h5>Vous avez publié une critique</h5>
                            {% endif %}
                                    <h3>{{post.headline}}</h3>
                                    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                    {% for x in ""|ljust:post.rating %}
                                        {% if forloop.counter0 <= post.rating %}
                                            <span class="fa fa-star"></span>
                                        {% endif %}
                                    {% endfor %}
                                    <h4>{{post.body}}</h4>
                    </div>
                    <div class ='ticket_in'>
                        <h5>Ticket - {{post.ticket.username}}</h5>
                        <h4>{{post.ticket.title}}</h4>
                        <h5>{{post.ticket.description}}</h5>
                    </div>
                </div>
            {% else %}
                    <div class = 'ticket'>
                        <article>
                            <h6>{{ post.time_created }}</h6>
                            {% if user.username == post.user.username %}
                            <h5>Vous avez publié un ticket</h5>
                            <h3>{{ post.title}}</h3>
                            <h5>{{ post.description }}</h5>
                            {% endif %}
                        </article>
                    </div>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="buttons">
              <h2>Rien à voir ici, créez un poste dans Flux !</h2>
            <form action="/create_ticket" xmlns="http://www.w3.org/1999/html">
              <input type="submit" value="Demander une critique" class="button">
            </form>
            <form action="/create_review">
              <input type="submit" value="Créer une critique" class ="button">
            </form>
        </div>

    {% endif %}
    </div>
{% endblock %}