{% extends 'base.html' %}
{% load static %}
{% block title %}
    <h1>Créer une critique</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/review_create.css' %}">
<div id="two_forms">
    <form method="POST" class="formulaire">
        <h2>Livre/Article</h2>
        {% csrf_token %}
        {% if ticket %}
        <article>
            <h6>{{ ticket.time_created }}</h6>
            {% if user.username == ticket.user.username %}
            <h5>Vous avez publié un ticket</h5>
            <h3>{{ ticket.title}}</h3>
            <h5>{{ ticket.description }}</h5>
            {% if ticket.image %}
                <img src="{{ticket.image.url}}" class="image">
            {% endif %}
            {% else %}
            <h5>{{ ticket.user }} a demandé une critique</h5>
            <h3>{{ ticket.title}}</h3>
            <h5>{{ ticket.description }}</h5>
            {% if ticket.image %}
                <img src="{{ticket.image.url}}" class="image">
            {% endif %}
            {% endif %}
        </article>
        {% else %}
        {{ ticket_form }}
        {% endif %}
    <h2>Critique</h2>
        {{ review_form }}
        <div id="button">
            <input type="submit" value="Envoyer" id="submit_button">
        </div>
    </form>
</div>


{% endblock %}