{% extends 'base.html' %}
{% load static %}
{% block title %}
    <h1>Créer une critique</h1>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/review_create.css' %}">
<div id="two_forms">
    <h2>Livre/Article</h2>
    <form method="POST" class="formulaire">
        {% csrf_token %}
        {{ ticket_form }}
    </form>

    <h2>Critique</h2>
    <form method="POST" class="formulaire">
            {% csrf_token %}
        {{ review_form }}
        <div id="button">
            <input type="submit" value="Envoyer" id="submit_button">
        </div>



    </form>
</div>


{% endblock %}