{% extends 'base.html' %}

{% block content %}
<form action="/create_ticket" xmlns="http://www.w3.org/1999/html">
      <input type="submit" value="Demander une critique">
    </form>
    <form action="/create_review">
      <input type="submit" value="Créer une critique">
    </form>
    {% for post in posts %}

        {% if post.headline != None %}
            <p>------------------------------------------------------</p>
            <div>
                    {% if user.id == post.user_id %}
                        <h5>Vous avez publié une critique</h5>
                    {% else %}
                        <h5>{{post.user_id}}</h5>
                    {% endif %}
            </div>
        {% else %}
                <p>------------------------------------------------------</p>
            <article>
                <h6>{{ post.time_created }}</h6>
                {% if user.username == post.user.username %}
                <h5>Vous avez demandé une critique</h5>
                {% else %}
                <h5>{{ post.user }} a demandé une critique</h5>
                {% endif %}

              <h3>{{ post.title}}</h3>
              <h5>{{ post.description }}</h5>
            </article>
        {% endif %}
    {% endfor %}
{% endblock %}